html{
  background-color: #f9ddc5;
}

.body{
  margin: 2em;
}

.location-list{
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  width: 100%;
  /* margin: 0 auto; */
  justify-content: space-between;
  padding-left: 0;
}

.location-front-item h3{
  text-align: center;
}

.location-front-item{
  width: 400px;
  height: 300px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px 6px #614f4f;
  background-color: #ffb3b3;
}

.location-front-image{
  position: relative;
  left: 6.5%;
  width: 350px;
  height: 250px;
  /* margin: 10px; */
  text-align: center;
}

h1{
  text-align: center;
}

.user-form{
  padding-left: 2%;
  /* text-align: center; */
}
.create-user{
  padding-left: 3%;
  margin-bottom: 0;
  /* text-align: center; */
}


.user-form label{
  margin: 10px;
}

.user-form input{
  margin: 10px;
}

.location-back-image{
  margin-top: 20px;
  position: fixed;
  left: 6.5%;
  width: 350px;
  height: 250px;
  /* margin: 10px; */
  text-align: center;
  opacity: 40%;
  /* overflow: hidden; */
  z-index: -1;
}

.location-back-item h3{
  padding: 25%;
  position: fixed;
  text-align: center;
  z-index: 2;
}

.location-back-item{
  width: 400px;
  height: 300px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px 6px #614f4f;
  /* background-color: #ffb3b3; */
}

.back-flip-button{
  margin-top: 70%;
}

h1{
    /* position: relative; */
    left: -15%;
    background: url(https://images.unsplash.com/photo-1543589076-96421b4e2f1f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* font-weight: bold; */
    font-size: 80px;
    /* font-family: arial, helvetica; */
    /* width: 600px; */
    /* text-align: center; */
    margin: 30px;
}